h1,h2,h3,h4 {letter-spacing:1px;text-align:center;word-wrap: break-word}

h2 {font-size:18px} 

.cadre {border:solid 1px #ccc;padding:5px 10px} 

.ggtitle {
    color: #1e0fbe;
    display: block;
    font-family: arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
    width: 496px;
	margin:0;
	padding:0;
}

.ggurl {
    color: #006621;
    font-family: arial,sans-serif;
    font-size: 14px;
	line-height:16px;
    width: 496px;
}

.bulle {cursor:pointer;color:#4a79af;font-size:130%}
