.cadre {border:solid 1px #ccc;padding:5px 10px}

.ggtitle {
    color: #1e0fbe;
    display: block;
    font-family: arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
    width: 496px;
	margin:0;
	padding:0;
}
.ggtest {
    color: #1e0fbe;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
	margin:0;
	padding:0;
	visibility:hidden;
}

.ggtestdesc {
    color: #545454;
    font-family: arial,sans-serif;
    font-size: small;
    line-height: 1.4;
    width: 496px;
    font-weight: normal;
	margin:0;
	padding:0;
	visibility:hidden;
}

.ggurl {
    color: #006621;
    font-family: arial,sans-serif;
    font-size: 14px;
	line-height:16px;
    width: 496px;
}

h1,h2,h3,h4 {letter-spacing:1px;text-align:center;word-wrap: break-word}

h2 {font-size:18px}
