@charset "UTF-8";


@font-face {
  font-family: 'visiblis';
  src: url('../fonts/visiblis.eot');
  src: local('?'),
  url('../fonts/visiblis.woff') format('woff'),
  url('../fonts/visiblis.ttf') format('truetype'),
  url('../fonts/visiblis.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="visiblis-"], [class*=" visiblis-"] {
  display: inline-block;
  font: normal normal normal 14px/1 visiblis;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.visiblis-spin {
  -webkit-animation: visiblis-spin 2s infinite linear;
  -moz-animation: visiblis-spin 2s infinite linear;
  -o-animation: visiblis-spin 2s infinite linear;
  animation: visiblis-spin 2s infinite linear;
}
.visiblis-pulse {
  -webkit-animation: visiblis-spin 1s infinite steps(8);
  -moz-animation: visiblis-spin 1s infinite steps(8);
  -o-animation: visiblis-spin 1s infinite steps(8);
  animation: visiblis-spin 1s infinite steps(8);
}
@-webkit-keyframes visiblis-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes visiblis-spin {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes visiblis-spin {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes visiblis-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.blinking-on {
    -webkit-animation: visiblis-blinker-on 1s infinite;
    -moz-animation: visiblis-blinker-on 1s infinite;
    -o-animation: visiblis-blinker-on 1s infinite;
    animation: visiblis-blinker-on 1s infinite;
}
.blinking-off {
    -webkit-animation: visiblis-blinker-off 1s infinite;
    -moz-animation: visiblis-blinker-off 1s infinite;
    -o-animation: visiblis-blinker-off 1s infinite;
    animation: visiblis-blinker-off 1s infinite;
}
@-webkit-keyframes visiblis-blinker-on {  
  0% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0;}
}
@-moz-keyframes visiblis-blinker-on {  
  0% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0;}
}
@-o-keyframes visiblis-blinker-on {  
  0% { opacity: 1;}
   50% { opacity: 1;}
 100% { opacity: 0;}
}
@keyframes visiblis-blinker-on {  
  0% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0;}
}

@-webkit-keyframes visiblis-blinker-off {  
  0% { opacity: 0;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}
@-moz-keyframes visiblis-blinker-off {  
  0% { opacity: 0;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}
@-o-keyframes visiblis-blinker-off {  
  0% { opacity: 0;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes visiblis-blinker-off {  
  0% { opacity: 0;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}

.visiblis-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.visiblis-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.visiblis-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.visiblis-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.visiblis-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.visiblis-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .visiblis-rotate-45,
:root .visiblis-rotate-90,
:root .visiblis-rotate-180,
:root .visiblis-rotate-270,
:root .visiblis-flip-horizontal,
:root .visiblis-flip-vertical {
  filter: none;
}


.visiblis-corpus-perso-add:before {
	content: "\e977";
}
.visiblis-corpus-add:before {
	content: "\e978";
}
.visiblis-file-pdf:before {
	content: "\e979";
}
.visiblis-file-csv:before {
	content: "\e97a";
}
.visiblis-aide:before {
	content: "\e97b";
}
.visiblis-unplugged:before {
	content: "\e97c";
}
.visiblis-plugged:before {
	content: "\e97d";
}
.visiblis-mindmap:before {
	content: "\e97e";
}
.visiblis-tooltip:before {
	content: "\e97f";
}
.visiblis-newproj:before {
	content: "\e980";
}
.visiblis-unfilter:before {
	content: "\e981";
}
.visiblis-level:before {
	content: "\e982";
}
.visiblis-load-mindmap:before {
	content: "\e983";
}
.visiblis-calc-shift:before {
	content: "\e984";
}
.visiblis-calc-sr:before {
	content: "\e985";
}
.visiblis-calc-pr:before {
	content: "\e986";
}
.visiblis-calc-cluster:before {
	content: "\e987";
}
.visiblis-shift:before {
	content: "\e988";
}
.visiblis-shift-out:before {
	content: "\e989";
}
.visiblis-shift-in:before {
	content: "\e98a";
}
.visiblis-ast:before {
	content: "\e98b";
}
.visiblis-srb:before {
	content: "\e98c";
}
.visiblis-srp:before {
	content: "\e98d";
}
.visiblis-srt:before {
	content: "\e98e";
}
.visiblis-asb:before {
	content: "\e98f";
}
.visiblis-asp:before {
	content: "\e990";
}
.visiblis-calc-as:before {
	content: "\e991";
}
.visiblis-as:before {
	content: "\e992";
}
.visiblis-close:before {
	content: "\e993";
}
.visiblis-compare:before {
	content: "\e994";
}
.visiblis-arrow:before {
	content: "\e995";
}
.visiblis-clean:before {
	content: "\e996";
}
.visiblis-link-sisters:before {
	content: "\e997";
}
.visiblis-link-reciprocal:before {
	content: "\e998";
}
.visiblis-color-palette:before {
	content: "\e999";
}
.visiblis-user-metrics:before {
	content: "\e99a";
}
.visiblis-atlas-prms:before {
	content: "\e99b";
}
.visiblis-history:before {
	content: "\e99c";
}
.visiblis-view:before {
	content: "\e99d";
}
.visiblis-info:before {
	content: "\e99e";
}
.visiblis-soustraction:before {
	content: "\e99f";
}
.visiblis-exclusion:before {
	content: "\e9a0";
}
.visiblis-intersection:before {
	content: "\e9a1";
}
.visiblis-fusion:before {
	content: "\e9a2";
}
.visiblis-square:before {
	content: "\e9a3";
}
.visiblis-french:before {
	content: "\e9a4";
}
.visiblis-english:before {
	content: "\e9a5";
}
.visiblis-reports:before {
	content: "\e9a6";
}
.visiblis-load-metrics:before {
	content: "\e9a7";
}
.visiblis-concept:before {
	content: "\e9a8";
}
.visiblis-keyword:before {
	content: "\e9a9";
}
.visiblis-curvelink:before {
	content: "\e9aa";
}
.visiblis-show-links:before {
	content: "\e9ab";
}
.visiblis-atlas:before {
	content: "\e9ac";
}
.visiblis-hieragraph:before {
	content: "\e9ad";
}
.visiblis-zoom-out:before {
	content: "\e9af";
}
.visiblis-fast:before {
	content: "\e9b4";
}
.visiblis-circular:before {
	content: "\e9b0";
}
.visiblis-zoom-fit:before {
	content: "\e9b1";
}
.visiblis-zoom-in:before {
	content: "\e9b2";
}
.visiblis-zoom-resize:before {
	content: "\e9b3";
}
.visiblis-dirgraph:before {
	content: "\e9ae";
}
.visiblis-page-web-window:before {
	content: "\e972";
}
.visiblis-crawl:before {
	content: "\e973";
}
.visiblis-list:before {
	content: "\e974";
}
.visiblis-page-web:before {
	content: "\e975";
}
.visiblis-line-chart-window:before {
	content: "\e976";
}
.visiblis-youtube:before {
	content: "\e96f";
}
.visiblis-crawl-window:before {
	content: "\e970";
}
.visiblis-twitter:before {
	content: "\e971";
}
.visiblis-url-window:before {
	content: "\e969";
}
.visiblis-corpus-window:before {
	content: "\e96a";
}
.visiblis-graph-window:before {
	content: "\e96b";
}
.visiblis-link-window:before {
	content: "\e96c";
}
.visiblis-params-window:before {
	content: "\e96d";
}
.visiblis-project-window:before {
	content: "\e96e";
}
.visiblis-yellow-butterfly:before {
	content: "\e967";
}
.visiblis-blue-butterfly:before {
	content: "\e968";
}
.visiblis-screenshot:before {
	content: "\e964";
}
.visiblis-resize:before {
	content: "\e965";
}
.visiblis-save:before {
	content: "\e966";
}
.visiblis-add-link:before {
	content: "\e900";
}
.visiblis-add-node:before {
	content: "\e901";
}
.visiblis-alert:before {
	content: "\e902";
}
.visiblis-api:before {
	content: "\e903";
}
.visiblis-bar-chart:before {
	content: "\e904";
}
.visiblis-bell:before {
	content: "\e905";
}
.visiblis-bill:before {
	content: "\e906";
}
.visiblis-check:before {
	content: "\e907";
}
.visiblis-chevron:before {
	content: "\e908";
}
.visiblis-circle:before {
	content: "\e909";
}
.visiblis-circular-graph:before {
	content: "\e90a";
}
.visiblis-cluster:before {
	content: "\e90b";
}
.visiblis-clusteralyser:before {
	content: "\e90c";
}
.visiblis-code:before {
	content: "\e90d";
}
.visiblis-contract:before {
	content: "\e90e";
}
.visiblis-coocalyser:before {
	content: "\e90f";
}
.visiblis-corpus:before {
	content: "\e910";
}
.visiblis-crawler:before {
	content: "\e911";
}
.visiblis-curved-link:before {
	content: "\e912";
}
.visiblis-dashboard:before {
	content: "\e913";
}
.visiblis-del-link:before {
	content: "\e914";
}
.visiblis-del-node:before {
	content: "\e915";
}
.visiblis-disc:before {
	content: "\e916";
}
.visiblis-dock:before {
	content: "\e917";
}
.visiblis-double-chevron:before {
	content: "\e918";
}
.visiblis-download:before {
	content: "\e919";
}
.visiblis-edit:before {
	content: "\e91a";
}
.visiblis-expand:before {
	content: "\e91b";
}
.visiblis-external-link:before {
	content: "\e91c";
}
.visiblis-filter:before {
	content: "\e91d";
}
.visiblis-flash:before {
	content: "\e91e";
}
.visiblis-folder-close:before {
	content: "\e91f";
}
.visiblis-folder-open:before {
	content: "\e920";
}
.visiblis-force-graph:before {
	content: "\e921";
}
.visiblis-forum:before {
	content: "\e922";
}
.visiblis-gauge:before {
	content: "\e923";
}
.visiblis-gear:before {
	content: "\e924";
}
.visiblis-gears:before {
	content: "\e925";
}
.visiblis-hierarchical-graph:before {
	content: "\e926";
}
.visiblis-html-page:before {
	content: "\e927";
}
.visiblis-in-link:before {
	content: "\e928";
}
.visiblis-key:before {
	content: "\e929";
}
.visiblis-keys:before {
	content: "\e92a";
}
.visiblis-line-chart:before {
	content: "\e92b";
}
.visiblis-link:before {
	content: "\e92c";
}
.visiblis-lock:before {
	content: "\e92d";
}
.visiblis-marker:before {
	content: "\e92e";
}
.visiblis-modules:before {
	content: "\e92f";
}
.visiblis-no:before {
	content: "\e930";
}
.visiblis-node-label:before {
	content: "\e931";
}
.visiblis-nofollow:before {
	content: "\e932";
}
.visiblis-ok:before {
	content: "\e933";
}
.visiblis-order-asc:before {
	content: "\e934";
}
.visiblis-order-desc:before {
	content: "\e935";
}
.visiblis-out-link:before {
	content: "\e936";
}
.visiblis-page:before {
	content: "\e937";
}
.visiblis-page-relooad:before {
	content: "\e938";
}
.visiblis-params:before {
	content: "\e939";
}
.visiblis-pause:before {
	content: "\e93a";
}
.visiblis-pie-chart:before {
	content: "\e93b";
}
.visiblis-pin:before {
	content: "\e93c";
}
.visiblis-play:before {
	content: "\e93d";
}
.visiblis-post:before {
	content: "\e93e";
}
.visiblis-post-add:before {
	content: "\e93f";
}
.visiblis-post-cite:before {
	content: "\e940";
}
.visiblis-post-del:before {
	content: "\e941";
}
.visiblis-post-edit:before {
	content: "\e942";
}
.visiblis-post-lock:before {
	content: "\e943";
}
.visiblis-post-pin:before {
	content: "\e944";
}
.visiblis-post-reply:before {
	content: "\e945";
}
.visiblis-post-unlock:before {
	content: "\e946";
}
.visiblis-pr:before {
	content: "\e947";
}
.visiblis-project:before {
	content: "\e948";
}
.visiblis-redraw:before {
	content: "\e949";
}
.visiblis-regex:before {
	content: "\e94a";
}
.visiblis-reload:before {
	content: "\e94b";
}
.visiblis-renew:before {
	content: "\e94c";
}
.visiblis-search:before {
	content: "\e94d";
}
.visiblis-slidealyser:before {
	content: "\e94e";
}
.visiblis-spiner:before {
	content: "\e94f";
}
.visiblis-sr:before {
	content: "\e950";
}
.visiblis-straight-link:before {
	content: "\e951";
}
.visiblis-textalyser:before {
	content: "\e952";
}
.visiblis-text-page:before {
	content: "\e953";
}
.visiblis-titralyser:before {
	content: "\e954";
}
.visiblis-tools:before {
	content: "\e955";
}
.visiblis-trash:before {
	content: "\e956";
}
.visiblis-treealyser:before {
	content: "\e957";
}
.visiblis-unlink:before {
	content: "\e958";
}
.visiblis-unlock:before {
	content: "\e959";
}
.visiblis-upload:before {
	content: "\e95a";
}
.visiblis-user:before {
	content: "\e95b";
}
.visiblis-user-add:before {
	content: "\e95c";
}
.visiblis-user-del:before {
	content: "\e95d";
}
.visiblis-user-profile:before {
	content: "\e95e";
}
.visiblis-user-pwd:before {
	content: "\e95f";
}
.visiblis-users:before {
	content: "\e960";
}
.visiblis-graph:before {
	content: "\e961";
}
.visiblis-web:before {
	content: "\e962";
}
.visiblis-webalyser:before {
	content: "\e963";
}

